<nav class="relative bg-slate-800 after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <!-- Mobile menu toggle -->
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button
          type="button"
          (click)="toggleMenu()"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-500"
        >
          <span class="sr-only">Open main menu</span>
          <ng-container *ngIf="!mobileMenuOpen">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6">
              <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </ng-container>
          <ng-container *ngIf="mobileMenuOpen">
            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" class="size-6">
              <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </ng-container>
        </button>
      </div>

      <!-- Logo and desktop menu -->
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center ml-3">
          <img src="logo.png" alt="Your Company" class="h-10 w-auto" />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a [routerLink]="['/', currentLang, '']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
              class="rounded-md px-3 py-2 text-gray-300 hover:bg-white/5 hover:text-white">صفحه اصلی</a>
            <a [routerLink]="['/', currentLang, 'about-us']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
              class="rounded-md px-3 py-2 text-gray-300 hover:bg-white/5 hover:text-white">درباره ما</a>
            <a [routerLink]="['/', currentLang, 'products']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
              class="rounded-md px-3 py-2 text-gray-300 hover:bg-white/5 hover:text-white">محصولات</a>
            <a [routerLink]="['/', currentLang, 'sale']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
              class="rounded-md px-3 py-2 text-gray-300 hover:bg-white/5 hover:text-white">فروش</a>
            <a [routerLink]="['/', currentLang, 'services']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
              class="rounded-md px-3 py-2 text-gray-300 hover:bg-white/5 hover:text-white">خدمات پس از فروش</a>
            <a [routerLink]="['/', currentLang, 'news']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
              class="rounded-md px-3 py-2 text-gray-300 hover:bg-white/5 hover:text-white">اخبار</a>
            <a [routerLink]="['/', currentLang, 'contact-us']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
              class="rounded-md px-3 py-2 text-gray-300 hover:bg-white/5 hover:text-white">تماس با ما</a>
          </div>
        </div>
      </div>

      <!-- User menu -->
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <a [routerLink]="['/', currentLang, 'user-login']"
          class="relative hidden sm:inline rounded-md px-3 py-2 text-lg secondary-text ml-3 font-bold hover:text-white hover:bg-white/5">
          ورود به ناحیه کاربری
        </a>

        <el-dropdown class="relative ml-3">
          <button class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
            <span class="sr-only">Open user menu</span>
            <img src="https://wallpapers.com/images/hd/user-profile-placeholder-icon-jiv4adftoq5dhj54.jpg" alt=""
              class="size-8 rounded-full bg-gray-800 outline -outline-offset-1 outline-white/10" />
          </button>
          <el-menu anchor="bottom end" popover class="w-48 origin-top-right rounded-md bg-gray-800 py-1">
            <a href="#" class="block px-4 py-2 text-sm text-gray-300">Your profile</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-300">Settings</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-300">Sign out</a>
          </el-menu>
        </el-dropdown>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div *ngIf="mobileMenuOpen" class="sm:hidden space-y-1 px-2 pt-2 pb-3 fixed w-full z-50 bg-slate-800">
    <a [routerLink]="['/', currentLang, '']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
      class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">صفحه اصلی</a>
    <a [routerLink]="['/', currentLang, 'about-us']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
      class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">درباره ما</a>
    <a [routerLink]="['/', currentLang, 'products']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
      class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">محصولات</a>
    <a [routerLink]="['/', currentLang, 'sale']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
      class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">فروش</a>
    <a [routerLink]="['/', currentLang, 'services']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
      class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">خدمات پس از فروش</a>
    <a [routerLink]="['/', currentLang, 'news']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
      class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">اخبار</a>
    <a [routerLink]="['/', currentLang, 'contact-us']" routerLinkActive="bg-gray-950/50 text-white" [routerLinkActiveOptions]="{ exact: true }"
      class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">تماس با ما</a>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-slate-800 text-gray-300 py-10">
  <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-4 gap-8">
    <div>
      <img src="logo.png" alt="Aysan Khodro" class="h-16 mb-4" />
      <p class="text-sm leading-6">
        شرکت آیسان خودرو، پیشرو در صنعت خودروهای سنگین و خدمات پس از فروش.
      </p>
      <div class="flex space-x-4 mt-4 text-white text-2xl">
        <a href="#" aria-label="Telegram">
          <img class="w-8 h-8" src="/social/telegram-app.svg" alt="" />
        </a>
        <a href="#" aria-label="Instagram">
          <img class="w-8 h-8" src="/social/instagram.svg" alt="" />
        </a>
        <a href="#" aria-label="LinkedIn">
          <img class="w-8 h-8" src="/social/linkedin.svg" alt="" />
        </a>
        <a href="#" aria-label="WhatsApp">
          <img class="w-8 h-8" src="/social/whatsapp.svg" alt="" />
        </a>
      </div>
    </div>

    <div class="md:col-span-2">
      <h4 class="text-white font-semibold mb-4">لینک‌ها</h4>
      <div class="grid grid-cols-2 gap-4 text-sm">
        <div>
          <ul class="space-y-2">
            <li><a href="/" class="hover:text-white">صفحه اصلی</a></li>
            <li>
              <a [routerLink]="'/about-us'" class="hover:text-white"
                >درباره ما</a
              >
            </li>
            <li><a href="/products" class="hover:text-white">محصولات</a></li>
          </ul>
        </div>
        <div>
          <ul class="space-y-2">
            <li><a href="/services" class="hover:text-white">خدمات</a></li>
            <li><a href="/team" class="hover:text-white">اعضا و مدیران</a></li>
            <li>
              <a [routerLink]="'/contact-us'" class="hover:text-white"
                >تماس با ما</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <h4 class="text-white font-semibold mb-4">ارتباط با ما</h4>
      <p class="text-sm"> تهران، میدان مادر، خیابان شهید شاه نظری، خیابان ششم، پلاک 20</p>
      <!-- <p class="text-sm">تلفن: 021-xxxxxxx</p> -->
      <p class="text-sm">ایمیل: info&#64;aysankhodro.com</p>
    </div>
  </div>

  <div class="border-t border-gray-600 mt-10 pt-6 text-center text-sm text-gray-400">
    © 2025 Aysan Khodro. همه حقوق محفوظ است.
    <br />
    طراحی و اجرا : شرکت توسعه خدمات هوشمند فرابوم
  </div>
 
</footer>