<header class="news-header">
  <h1>آیسان نیوز</h1>
</header>

<div class="news-toolbar">
  <span class="latest-news">آخرین اخبار</span>
</div>

<section class="news-card">
  <img src="/gallery/news1.jpeg" class="news-image" alt="AysanKh 90" />

  <div class="news-content">
    <div class="news-meta">
      <span class="badge">اطلاعیه شرکت</span>
      <span class="date">۱۴۰۴/۰۸/۱۷</span>
    </div>

    <h2 class="news-title">
      هلدینگ بین‌المللی آیسان خودرو حامی مالی ۹۰ ارومیه شد
    </h2>

    <h3>
      در دیدار و توافق میان یحیی بهاری، مدیرعامل باشگاه ۹۰ ارومیه، و دکتر مهدی
      اسمی‌زاده، مدیرعامل هلدینگ گروه بین‌المللی آیسـان خودرو، این مجموعه
      به‌عنوان حامی مالی رسمی باشگاه ۹۰ ارومیه در ادامه فصل
    </h3>

    <p class="news-text">
      توافق مهم یحیی بهاری و دکتر اسمی‌زاده؛ هلدینگ بین‌المللی آیسان خودرو حامی
      مالی ۹۰ ارومیه شد در دیدار و توافق میان یحیی بهاری، مدیرعامل باشگاه
      ۹۰ ارومیه، و دکتر مهدی اسمی‌زاده، مدیرعامل هلدینگ گروه<br />
      بین‌المللی آیسـان خودرو، این مجموعه به‌عنوان حامی مالی رسمی باشگاه ۹۰
      ارومیه در ادامه فصل معرفی شد. بر اساس این توافق، لوگوی آیسـان خودرو از
      هفته‌های آتی روی پیراهن تیم نقش خواهد بست و همکاری مشترک<br />
      دو مجموعه در زمینه‌های تبلیغاتی، فرهنگی و اجتماعی نیز آغاز می‌شود. این
      اتفاق گامی مهم در مسیر تقویت ساختار مالی و توسعه حرفه‌ای باشگاه ۹۰ ارومیه
      محسوب می‌شود و طی هفته‌های آتی جزئیات مهمی از همکاری بین طرفین خواهد شد.
    </p>

    <div class="news-footer">
      <span class="author">نویسنده: محمد دانش</span>
    </div>
  </div>
</section>
