<div class="bg-gray-200">
  <div class="max-w-7xl mx-auto px-6 py-10">
    <div
      class="w-full bg-white rounded-2xl shadow-lg grid grid-cols-1 md:grid-cols-2 overflow-hidden"
    >
      <div class="relative h-96 md:h-auto">
        <img
          src="Isuzu-truck.jpeg"
          alt="About us"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="p-8 flex flex-col justify-center">
        <h2 class="text-3xl font-bold text-primary mb-4">درباره ما</h2>
        <p class="text-gray-700 mb-4 leading-relaxed text-justify">
          شرکت
          <span class="text-secondary font-bold"
            >آیسان صنعت خودرو سبز چابهار</span
          >
          با هدف توسعه تولید داخلی و ارتقاء صنعت حمل‌ونقل تجاری کشور تأسیس شده
          است. این مجموعه با بهره‌گیری از موقعیت استراتژیک منطقه آزاد چابهار،
          همکاری با برند معتبر جهانی و استفاده از فناوری‌های روز، تولید و مونتاژ
          انواع خودروهای تجاری سنگین را در دستور کار دارد. هدف ما افزایش ظرفیت
          تولید، داخلی‌سازی قطعات، ایجاد اشتغال پایدار، توسعه زیرساخت‌های صنعتی
          و استفاده از ظرفیت بندر چابهار به یکی از قطب‌های اصلی خودروسازی تجاری
          کشور است؛ تا با عرضه محصولات باکیفیت در بازارهای داخلی و خارجی، سهمی
          مؤثر در رشد اقتصاد ملی و گسترش صادرات ایفا کنیم.
        </p>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center max-w-7xl mx-auto px-6 py-10">
    <div class="w-full mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
      <div class="bg-white rounded-2xl shadow-lg p-6">
        <h2 class="text-2xl font-bold text-primary mb-4 text-center">
          بیانیه مأموریت
        </h2>
        <p class="text-gray-700 leading-relaxed text-justify">
          ما در شرکت آیسان صنعت خودرو سبز مشغول به طراحی، تولید و مونتاژ
          خودروهای تجاری سنگین با کیفیت جهانی هستیم و با بهره‌گیری از
          استانداردهای بین‌المللی، فناوری‌های هوشمند و نوین، تولید برتر و شرکت
          با راهبردی با برندهای معتبر بین‌المللی، نیازهای متنوع حمل‌ونقل کشور و
          مناطق را برآورده می‌کنیم. همچنین به صورت پیوسته ارزش‌آفرینی برای
          مشتریان، سهامداران و جامعه را از طریق نوآوری، عملکرد پایدار، ضماتت پس
          از فروش گسترده و توسعه سرانه داخلی‌سازی قطعات دنبال می‌کنیم. جزئیات
          بیانیه مأموریت ما عبارتند از:
        </p>
        <ul class="list-disc list-inside text-gray-700 mt-4 space-y-2 text-sm">
          <li>
            ارائه محصولات در قالب‌های CBU، CKD و SKD با رعایت استانداردهای
          </li>
          <li>
            استفاده از فناوری‌های هوشمند و نوین در راستای بهینه‌سازی فرآیندی‌های
            مختلف شرکت
          </li>
          <li>
            توسعه و تقویت شبکه فروش و خدمات پس از فروش در سراسر کشور و مناطق
            صادراتی
          </li>
          <li>
            ایجاد برند رقابتی قابل اتکا از طریق نوآوری در طراحی، مهندسی و پکیج
          </li>
          <li>
            تعهد به بهینه‌سازی محصول با استفاده از فناوری خودروهای برتر کاوشگر
            آینده
          </li>
          <li>
            ارتقای مهارت، دانش و توان انسانی از طریق آموزش تخصصی و فرهنگ کاری
            تیم‌محور
          </li>
        </ul>
      </div>
      <div class="bg-white rounded-2xl shadow-lg p-6">
        <h2 class="text-2xl font-bold text-primary mb-4 text-center">
          چشم‌انداز
        </h2>
        <p class="text-gray-700 leading-relaxed text-justify">
          تبدیل شدن به پیشروترین تولیدکننده و صادرکننده خودروهای تجاری در ایران
          و منطقه تا سال 2030،با تمرکز بر نوآوری، کیفیت جهانی و پایبندی به
          استانداردهای بین‌المللی، و ایفای نقش کلیدی در حمل‌ونقل پایدار و سبز.
          جزئیات چشم‌انداز ما عبارتند از :
        </p>
        <ul class="list-disc list-inside text-gray-700 mt-4 space-y-2 text-sm">
          <li>
            ارتقاء ظرفیت تولید با توجه به تقاضای بازار در کلاس خودروهای تجاری
          </li>
          <li>
            توسعه داخلی‌سازی قطعات و کاهش وابستگی به واردات در بازه میان‌مدت.
          </li>
          <li>
            ایجاد برند قابل اعتماد برای صادرات به بازارهای آسیایی، آفریقایی و
            اروپایی.
          </li>
          <li>
            بهره‌گیری از فناوری‌های نوین جهت ارتقای بهره‌وری و کاهش اثرات
            زیست‌محیطی.
          </li>
          <li>حضور در جایگاه رقابتی مشابه شرکت‌های مطرح بین المللی</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="items-center justify-center max-w-7xl mx-auto px-6 py-10">
    <h2 class="text-2xl font-bold text-primary mb-4 text-center">
      اعضای هیئت مدیره و مدیران
    </h2>

    <div class="flex items-center justify-center">
      <div
        class="w-full mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8"
      >
        @for (member of members; track $index) {
        <div class="bg-white rounded-xl shadow-lg p-6 text-center">
          <img
          [src]="member.image"
          class="w-24 h-24 rounded-full object-cover mx-auto mb-4"
          alt="team"
        />
          <h3 class="text-lg font-bold text-primary">{{ member.name }}</h3>
          <p class="text-gray-500">{{ member.role }}</p>
        </div>
        }
      </div>
    </div>
  </div>
</div>
