.line-clamp-3 {
  display: -webkit-box;
  display: box; 
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  line-clamp: 3; 
}

.no-hover:hover {
  background-color: transparent !important;
}
.no-hover.cdk-focused,
.no-hover.cdk-program-focused {
  background-color: transparent !important;
}
