.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  padding: 40px;
}

.product-card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  background-color: white;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    max-height: 180px;
    object-fit: cover;
  }
}
.main-back-img {
  background-image: url("../../../../public/final1.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 130px);
}
