<div
  class="w-full mx-auto bg-slate-700 overflow-hidden transition-all duration-500 ease-in-out"
>
  <div class="relative h-40 sm:h-60">
    <img src="trucks.jpg" alt="Cover" class="w-full h-full object-cover" />
  </div>

  <div
    class="flex flex-col max-w-7xl mx-auto sm:flex-row items-center sm:items-end sm:justify-between p-4 gap-4 transition-all duration-500 ease-in-out"
  >
    <div class="flex items-center gap-3">
      <div
        class="w-20 h-20 rounded-full border-4 px-3 py-2 z-900 bg-slate-900 -mt-12 sm:-mt-16 transition-all duration-500 ease-in-out"
      >
        <img src="logo.png" alt="Avatar" />
      </div>

      <img src="logo-name.png" class="max-w-40" alt="Avatar" />
    </div>

    <div class="flex flex-col sm:flex-row gap-2 w-full sm:w-auto">
      <button mat-raised-button class="secondary">مشاهده محصولات</button>
    </div>
  </div>
</div>

<div class="products">
  <mat-card class="product-card" *ngFor="let p of products">
    <mat-card-header>
      <img mat-card-lg-image [src]="p.image" />
      <mat-card-title>{{ p.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>ظرفیت: {{ p.capacity }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button>جزئیات</button>
    </mat-card-actions>
  </mat-card>
</div>
