@use "@angular/material" as mat;
@use "../theme-colors" as my-theme;
@import "tailwindcss";
:root {
  --color-primary: #0a2342;
  --color-secondary: #d4af37;
  --color-tertiary: #f5f5f5;
  --color-neutral: #333333;
  --color-neutral-variant: #ffffff;
  --color-error: #a31245;
}
@font-face {
  font-family: "iranSans-r";
  src: url(./../public/irsans-l.ttf) format("truetype");
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(./../public/mat.woff2) format("woff2");
}
@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 100;
  src: url(./../public/mat2.woff2) format("woff2");
}
.material-icons {
  font-family: "Material Icons Outlined" !important;
  font-weight: normal;
  font-style: normal;
  font-size: 30px !important;
  width: 30px !important;
  height: 30px !important;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

* {
  font-family: "iranSans-r" !important;
}
.primary {
  background-color: var(--color-primary) !important;
  color: var(--color-tertiary) !important;
}
.secondary {
  background-color: var(--color-secondary) !important;
  color: var(--color-primary) !important;
}
.secondary-text {
  color: var(--color-secondary) !important;
}
html {
  @include mat.theme(
    (
      color: (
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
